/*
// .site
*/
@import '../variables';


.site {
    height: 100%;
}
.site__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: clip; // Use clip instead of hidden - prevents horizontal overflow but doesn't affect sticky
}
.site__header {
    flex-shrink: 0;
}
.site__body {
    flex-grow: 1;
}
.site__footer {
    flex-shrink: 0;
}
