/*
// .site
*/
@import '../variables';


.site {
    height: 100%;
    // Single source of truth for overlay stacking (usable in JS or other CSS)
    --z-header: #{$z-header};
    --z-dropdown: #{$z-dropdown};
    --z-modal: #{$z-modal};
    --z-toast: #{$z-toast};
}
.site__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: clip; // Use clip instead of hidden - prevents horizontal overflow but doesn't affect sticky
}
.site__header {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: $z-header;
    box-shadow: 0 1px 0 0 $dt-border-color-subtle;
}
.site__body {
    flex-grow: 1;
}
.site__footer {
    flex-shrink: 0;
}
