/*
// Catalog page loading state
*/
@import '../variables';
@import '../mixins/loader';

.block-categories--loading-catalog {
    position: relative;
    min-height: 500px;
}

.block-categories__loader-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: rgba(map_get($body-scheme, main), 0.9);
}

.block-categories__loader-spinner {
    @include loader(48px, 3px, #000);
    
    position: static;
    display: block;
}
