/*
// .block-space
*/
@import '../variables';
@import '../mixins/breakpoints';


.block-space {
    display: block;
}
.block-space--layout--after-header {
    @include media-breakpoint-up(xl) {
        height: (24px + 60px);

        &.block-space--header--classic {
            height: 72px;
        }
    }
    @include media-breakpoint-down(lg) {
        height: 56px;
    }
    @include media-breakpoint-down(sm) {
        height: 48px;
    }
    @include media-breakpoint-down(xs) {
        height: 36px;
    }
}
.block-space--layout--before-footer {
    height: 80px;

    @include media-breakpoint-down(lg) {
        height: 72px;
    }
    @include media-breakpoint-down(xs) {
        height: 48px;
    }
}
.block-space--layout--divider-xl {
    height: 60px;
    @include media-breakpoint-down(sm) {
        height: 32px;
    }
}
.block-space--layout--divider-lg {
    height: 52px;
    @include media-breakpoint-down(sm) {
        height: 28px;
    }
}
.block-space--layout--divider-nl {
    height: 48px;
    @include media-breakpoint-down(sm) {
        height: 24px;
    }
}
.block-space--layout--divider-sm {
    height: 36px;
    @include media-breakpoint-down(sm) {
        height: 20px;
    }
}
.block-space--layout--divider-xs {
    height: 32px;
    @include media-breakpoint-down(sm) {
        height: 16px;
    }
}
.block-space--layout--spaceship-ledge-height {
    height: $spaceship-ledge-height;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}
