/*
// .widget-filters
*/
@import "../variables";
@import "../mixins/card";
@import "../mixins/direction";
@import "../mixins/breakpoints";

@mixin local-offcanvas() {
    .widget-filters__header {
        display: none;
    }
    .widget-filters__item {
        padding: 8px 20px;

        &:first-child {
            border-top: none;
        }
    }
}

.widget-filters {
    display: block;
    border-radius: 4px;
    margin-bottom: 24px;
}

// Hide filters widget on product pages
.block-split--product-page .widget-filters,
.product--layout--sidebar ~ * .widget-filters,
.block-split__item-sidebar:has(+ .block-split__item-content .product--layout--sidebar) .widget-filters {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}
.widget-filters__item {
    padding: 8px $widget-padding;
    border-bottom: 1px solid map_get($card-scheme, divider);

    &:first-child {
        border-top: 1px solid map_get($card-scheme, divider);
    }
}
.widget-filters__actions {
    padding: 20px $widget-padding $widget-padding;

    & > * + * {
        @include direction {
            #{$margin-inline-start}: 8px;
        }
    }
}

.widget-filters--offcanvas--none {
    @include card;
}
.widget-filters--offcanvas--mobile {
    @include media-breakpoint-up(lg) {
        @include card;
    }
    @include media-breakpoint-down(md) {
        @include local-offcanvas;
    }
}
.widget-filters--offcanvas--always {
    @include local-offcanvas;
}
