@import '~photoswipe/dist/photoswipe';
@import '~photoswipe/dist/default-skin/default-skin';
@import '~slick-carousel/slick/slick';
@import '~react-toastify/dist/ReactToastify.min';
@import '~rc-slider/assets/index';

@import 'bootstrap';
@import 'style';
